.app-header {
  background-color: rgb(246, 248, 252);
  padding: .7em;
}

.app-header .main-header-nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-inline-start: 40%;
  padding: 10px;
}
@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}

