.user-msg {
  text-align: center;
  position: fixed;
  top: 40px;
  right: 20px;

  width: 100px;
  /* background-color: rgb(208, 206, 139); */
  padding: 10px;
  border-radius: 5px;
  /* transition: 0.9s; */
  /* transition: opacity 2s; */
}
.success {
  background-color: rgb(221, 239, 221);
}
.error {
  background-color: rgb(253, 200, 200);
}
