.main-container {
  display: flex;
  /* border: 1px solid black; */
  height: 82vh;
  /** just for us */
  margin-block-start: 5px;
  padding: 10px;
}

button {
  border-radius: 15px;
  border: none;
}

/**SIDE BAR */
.main-container .side-bar-conatiner {
  border: none;
  background-color: rgb(229, 217, 201);
  width: 12.5%;
  border-radius: 15px;
}

.main-container .side-bar-conatiner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 5px;
}

.main-container .side-bar-conatiner ul li {
  padding: 5px;
  /* background-color: rgb(219, 229, 201); */
  border: none;
  text-align: left;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin-block-start: 1.5vh;
  transition: 0.3s;
}

.main-container .side-bar-conatiner ul li:hover {
  background-color: rgb(219, 229, 201);
  scale: 1.1;
}

/**Notes */
.main-container .notes-conatiner {
  /* border: 1px solid rgb(101, 93, 168); */
  background-color: rgb(255, 249, 241);
  width: 85%;
  border-radius: 15px;
  padding: 5px;
}

.main-container .notes-conatiner .nav-bar {
  border: 1px solid rgb(101, 93, 168);
}

.main-container .notes-conatiner ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
  columns: 4 115px;
  column-rule: 2px;
  column-gap: 2em;
}

.main-container .notes-conatiner ul .note {
  text-align: center;
  width: 20vw;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid;
  padding: 5px;
}

.notes-conatiner ul .note .title {
  margin: 0;
}

.notes-conatiner ul .note img {
  border-radius: 15px;
  width: 100%;
}

/** addnote-container */
.addnote-container {
  display: flex;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.addnote-container input {
  padding: 7px;
  border: none;
  width: 70%;
  border-radius: 10px;
}

.addnote-container div {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.addnote-container div button {
  width: 30px;
  transition: 0.3s;
}

.addnote-container div button:hover {
  scale: 1.2;
}
