/**Notes */
.main-container .notes-conatiner {
  /* border: 1px solid rgb(101, 93, 168); */
  background-color: rgb(245, 237, 228);
  width: 85%;
  /* border-radius: 15px; */
  border-left: 1px solid rgb(130, 119, 119);
  border-top: 1px solid rgb(185, 173, 173);
  border-radius: 10px;
  padding: 7px;
}
.main-container .notes-conatiner .nav-bar {
  border: 1px solid rgb(101, 93, 168);
}

.main-container input {
  padding: 0;
  border-radius: 15px;
}

.main-container .notes-conatiner ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
  columns: 3 90px;
  column-rule: 2px;
  column-gap: 3em;
}

.main-container .notes-conatiner ul .note {
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgb(100, 96, 96);
  break-inside: avoid;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px;
}
.main-container .notes-conatiner ul .note > * {
  width: 100%;
}

.main-container .notes-conatiner ul .note:hover {
  scale: 1.1;
}

.notes-conatiner ul .note .title {
  margin: 0;
}

.notes-conatiner ul .note img {
  border-radius: 15px;
  width: 100%;
}

/** addnote-container */
.addnote-container {
  margin: 10px;
  display: flex;
  padding: 3px;
  /* border: 1px solid black; */
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.addnote-container input {
  padding: 10px;
  border: none;
  width: 70%;
  border-radius: 10px;
}

.addnote-container .add-img {
  padding: 0;
  opacity: 0;
  width: 1px;
}

.addnote-container div {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.addnote-container div button {
  width: 30px;
  transition: 0.3s;
  background-color: rgb(226, 211, 232);
  padding: 5px;
  margin: 5px;
}

.addnote-container div button:hover {
  scale: 1.2;
}
