.pin-notes-container {
  padding: 5px;
  border: 1px solid rgb(220, 215, 215);
  border-radius: 15px;
  background-color: rgb(250, 255, 253);
}

.pin-notes-container h1 {
  font-size: 1em;
}
/** notes-container */

.main-container .notes-conatiner {
  /* background: linear-gradient(331deg, rgba(253, 253, 253, 1) 36%, rgb(220, 250, 204) 74%); */
  width: 85%;
  /* border-radius: 15px; */
  /* border-left: 1px solid rgb(195, 195, 195); */
  /* border-top: 1px solid rgb(225, 225, 225); */
  border-radius: 10px;
  padding: 7px;
}

.main-container .notes-conatiner .sub-title {
  font-size: 1em;
  width: 85%;
}

.main-container input {
  padding: 0;
  border-radius: 15px;
}

/** addnote-container */
.addnote-container {
  margin: 0px;
  display: flex;
  padding: 3px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.addnote-container input {
  padding: 11px;
  border: none;
  width: 70%;
  border-radius: 10px;
}

.addnote-container .add-img {
  padding: 0;
  opacity: 0;
  width: 1px;
}

.addnote-container div {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.addnote-container div button {
  width: 30px;
  transition: 0.3s;
  background-color: rgb(226, 211, 232);
  padding: 5px;
  margin: 5px;
}

.addnote-container div button:hover {
  scale: 1.2;
}

/**List */
.main-container .notes-conatiner ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
  columns: 3 90px;
  column-rule: 5px;
  column-gap: 3em;
}

.main-container .notes-conatiner ul .note {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgb(161, 158, 158);
  break-inside: avoid;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.main-container .notes-conatiner ul .note div {
  margin: auto;
  width: 80%;
}

.main-container .notes-conatiner ul .note:hover {
  scale: 1.1;
}

.notes-conatiner ul .note .title {
  margin: 0;
  font-size: smaller;
}

.notes-conatiner ul .note p {
  margin: 0;
  font-size: smaller;
}

.notes-conatiner ul .note img {
  border-radius: 15px;
  width: 100%;
}

.note.remove-note {
  width: 20px;
  background-color: rgb(225, 225, 248);
}
.note iframe {
  width: 100%;
}
