/**Notes */
.main-container .notes-conatiner {
  /* border: 1px solid rgb(101, 93, 168); */
  background-color: rgb(255, 249, 241);
  width: 85%;
  border-radius: 15px;
  padding: 5px;
}
.main-container .notes-conatiner .nav-bar {
  border: 1px solid rgb(101, 93, 168);
}

.main-container .notes-conatiner ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
  columns: 4 115px;
  column-rule: 2px;
  column-gap: 2em;
}

.main-container .notes-conatiner ul .note {
  text-align: center;
  width: 20vw;
  border-radius: 15px;
  border: 1px solid rgb(100, 96, 96);
  break-inside: avoid;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main-container .notes-conatiner ul .note:hover {
  scale: 1.1;
}

.notes-conatiner ul .note .title {
  margin: 0;
}

.notes-conatiner ul .note img {
  border-radius: 15px;
  width: 100%;
}

/** addnote-container */
.addnote-container {
  display: flex;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.addnote-container input {
  padding: 7px;
  border: none;
  width: 70%;
  border-radius: 10px;
}

.addnote-container .add-img {
  padding: 0;
  opacity: 0;
  /* width: 1px; */
}

.addnote-container div {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.addnote-container div button {
  width: 30px;
  transition: 0.3s;
}

.addnote-container div button:hover {
  scale: 1.2;
}
