/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* General Components */
@import 'cmps/HomePage.css';
@import 'cmps/AppHeader.css';
@import 'cmps/UserMsg.css';

/** Email App */
@import 'apps/mail/EmailIndex.css';

/* cmps */
@import 'apps/mail/EmailCreate.css';
/* Note App */
/* Pages */
@import 'apps/note/NoteIndex.css';

/* CMPS: */
@import 'apps/note/cmps/NoteTodos.css';
@import 'apps/note/cmps/NoteDetails.css';
