.note-details .title {
  display: flex;
}

.note-details .color-pic {
  position: relative;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.note-details .color-pic input {
  position: absolute;
  opacity: 0;
  padding: 0;
}
