
/**MAILS */
.main-container .mails-conatiner {
  background-color: #FFFFFF;
  width: 78.5%;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 10% 5% 85%;
  /* padding: 5px; */
}

.main-container .mails-conatiner .nav-bar {
  display: flex;
  border-radius: 15px;
}

.main-container .mails-conatiner ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

.main-container .mails-conatiner ul li section {
  padding: 10px;
  display: grid;
  justify-items: center;
  /* align-content: center; */
  box-shadow: 0px .5px rgb(165, 165, 165), 0em 0 0.1em rgb(165, 165, 165);
  grid-template-columns: 10% 20% 60% 10%;
  cursor: pointer;
}

.main-container .mails-conatiner ul li {
  height: max-content;
  background-color: #fff;
}

.main-container .mails-conatiner .unread {
  font-weight: bold;
}

.main-container .mails-conatiner .read {
  background-color: #F2F6FC;
}

.main-container .mails-conatiner ul li:hover {
  box-shadow: 1px 1px rgb(165, 165, 165), 0em 0 0.2em rgb(165, 165, 165);
}

/* .main-container .mails-conatiner ul div button{
  cursor: pointer;
} */

/* } */
.main-container .mails-conatiner ul span {
  position: absolute;
  font-size: 0.7rem;
  left: 75%;
  align-self: center;
  cursor: pointer;
  justify-self: right;
}

.main-container .mails-conatiner ul li section div {
  /* border: 1px solid rgb(85, 176, 159); */
  display: flex;
  align-items: center;
}

.main-container .mails-conatiner ul li section div input {
  /* border: 1px solid rgb(85, 176, 159); */
  /* display: flex; */
  /* align-items: center; */
  cursor: pointer;
}

.main-container .mails-conatiner ul li section div>* {
  margin: 0;
}

.main-container .mails-conatiner ul li section .content {
  /* width: 100%; */
  justify-self: left;
}

.main-container .mails-conatiner ul li section .sender {
  /* width: 100%; */
  justify-self: left;
  align-self: center;
  margin-inline-start: 5%;
}

.main-container .mails-conatiner ul li section .checkboxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-container .mails-conatiner ul li section .checkboxes input:hover {
  /* background-color: #F2F2F2; */
  transform: scale(1.3);
}