@media(min-width: 320px) {

    /* App Header */
    .app-header {
        background-color: rgb(246, 248, 252);
        padding: .7em;
    }

    .app-header .main-header-nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        margin-inline-start: 20%;
        padding: 10px;
        font-size: .85rem;
    }

    .app-header .main-header-nav-bar a:hover{
        scale: 1.2;
    }

    /* Side bar */

    /* .main-container .side-bar-conatiner{
        opacity: 0;
    }

    .main-container .side-bar-conatiner:hover {
        opacity: 1;
        transition: 1s;
        background-color: #F6F8FC;
        width: 18.5%;
        border-radius: 15px;
        /* margin-block-start: 3.9rem; */
    /* } */ 
    .main-container .side-bar-conatiner {
        border: none;
        background-color: #F6F8FC;
        width: 18.5%;
        height: 92.8vh;
        border-radius: 1px;
        /* margin-block-start: 3.9rem; */
     } 

    .main-container .side-bar-conatiner h1 {
        margin-inline-start: 20%;
        font-size: 13px;
    }

    .main-container .side-bar-conatiner button {
        position: fixed;
        background-color: #C2E7FF;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        height: 50px;
        width: 90px;
        left: 2%;
        top: 92%;
        font-size: .7rem;
        padding-left: 5px;
    }

    .main-container .side-bar-conatiner ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 5px;
    }

    .main-container .side-bar-conatiner ul li {
        border: none;
        text-align: center;
        width: 95%;
        border-radius: 15px;
        padding: 8px;
        margin-block-start: 1.5vh;
        transition: 0.3s;
        font-size: .55rem;
    }

    .main-container .side-bar-conatiner ul li i {
        text-align: center;
        padding-right: 5px;
        font-size: .5rem;
    }

    .main-container .side-bar-conatiner ul li:hover {
        background-color: #D3E3FD;
        cursor: pointer;
    }

    /* Email Creation */
    .createEmail-Container {
        position: absolute;
        left: 0;
        top: 10%;
        background-color: #ffffff;
        width: 100%;
        height: 91%;
        border-radius: 15px;
        /* padding: 10px; */
        box-shadow: 2px 2px rgb(165, 165, 165), -.3em 0 0.4em rgb(165, 165, 165);
    }

    .createEmail-Container .header {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        height: 45px;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F6FC;
        border-radius: 10px;
        padding: 10px;
        color: #000000;
        font-weight: bold;
    }

    .createEmail-Container .header h3 {
        margin: 0px;
    }

    .createEmail-Container .header button {
        background-color: #F2F6FC;
    }

    .createEmail-Container .inputs input {
        width: 100%;
        height: 10%;
        padding: 10px;
        border: none;
    }


    .createEmail-Container .mainMail textarea {
        width: 100%;
        height: 60vh;
        border: none;
    }

    .createEmail-Container .send-btns{
        display: flex;
        padding: 15px;
        justify-content: space-between;
       
    }
    .createEmail-Container .send-btns button{
        background-color: #0b57d0;
        color: white;
        height: 40px;
        width: 20%;
        font-size: .7em;
    }

    /* .createEmail-Container .send-button {
        margin-inline-start: 2%;
        width: 25%;
        height: 40px;
        color: white;
        margin-block-start: 3%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 18px;
        border-top-right-radius: 0;
        background-color: #0b57d0;
    } */
    .createEmail-Container .send-button2 {
        margin-inline-start: 2%;
        width: 25%;
        height: 40px;
        color: white;
        margin-block-start: 3%;
        /* border-bottom-right-radius: 0; */
        border-top-left-radius: 18px;
        /* border-top-right-radius: 0; */
        background-color: #ce7235;
    }

    /* Search Bar */
    .search-container {
        background-color: #F6F8FC;
    }

    .search-container form {
       
        background-color: #EAF1FB;
        width: 100%;
        /* border-radius: 15px; */
        padding: 3px;
        /* height: 50px; */
    }

    .search-container form input {
        background-color: #EAF1FB;
        border: none;
        font-size: .7rem;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        width: 80%;
        padding: 5px;
        text-align: center;
        /* height: 40px; */
    }

    .search-container form button {
        /* width: 3.2rem; */
        background-color: #EAF1FB;
        /* height: 40px; */
    }

    .search-container form button:hover {
        background-color: #e1e7f0;
    }

    /**MAILS */
    .main-container .mails-conatiner {
        background-color: #FFFFFF;
        width: 81.5%;
        border-radius: 15px;
        display: grid;
        grid-template-rows: 8% 92%;
        /* padding: 5px; */
    }

    .main-container .mails-conatiner .nav-bar {
        display: flex;
        border-radius: 15px;
    }

    .main-container .mails-conatiner ul {
        list-style: none;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        background-color: #F6F8FC;
        box-shadow: 0px .5px rgb(165, 165, 165), 0em 0 0.1em rgb(165, 165, 165);
    }

    .main-container .mails-conatiner ul li section {
        display: grid;
        justify-items: center;
        box-shadow: 0px .5px rgb(165, 165, 165), 0em 0 0.1em rgb(165, 165, 165);
        grid-template-columns: 20% 80%;
        grid-template-rows: 33% 33% 33%;
        /* gap: 2px; */
        cursor: pointer;
        /* font-size: .64rem; */
        height: 9vh;
    }

    
    .main-container .mails-conatiner ul li {
        height: max-content;
        background-color: #fff;
    }

    .main-container .mails-conatiner .unread {
        font-weight: bold;
    }

    .main-container .mails-conatiner .read {
        background-color: #F2F6FC;
    }

    .main-container .mails-conatiner ul li:hover {
        box-shadow: 1px 1px rgb(165, 165, 165), 0em 0 0.2em rgb(165, 165, 165);
    }

    /* .main-container .mails-conatiner ul div button{
    cursor: pointer;
  } */

    /* } */
    .main-container .mails-conatiner ul span {
        /* position: absolute; */
        font-size: .85rem;
        /* left: 80%; */
        align-self: center;
        cursor: pointer;
        justify-self: right;
    }


    .main-container .mails-conatiner ul li section div {
        /* border: 1px solid rgb(85, 176, 159); */
        display: flex;
        align-items: center;
    }

    .main-container .mails-conatiner ul li section div input {
        /* border: 1px solid rgb(85, 176, 159); */
        /* display: flex; */
        /* align-items: center; */
        cursor: pointer;
    }

    .main-container .mails-conatiner ul li section div>* {
        margin: 0;
    }

    .main-container .mails-conatiner ul li section .content {
        /* width: 100%; */
        display: grid;
        gap: 3px;
        justify-self: left;
        margin-inline-start: 10%;
        /* justify-content: space-between; */
    }

    .main-container .mails-conatiner ul li section .content p {
        font-size: .7rem;
        /* margin-inline-start: 10px; */
        grid-area: 3/2/3/2;
    }
    .main-container .mails-conatiner ul li section :last-child {
        grid-area: 3/2/3/2;
        justify-self: right;
        font-size: .7rem;
    }

    .main-container .mails-conatiner ul li section .content h4 {
        font-size: .8rem;
        /* margin-inline-start: 35px; */
        grid-area: 2/2/2/2;
    }

    .main-container .mails-conatiner ul li section .content span {
        display: none;
        position: absolute;
        left: 80%;
    }

    .main-container .mails-conatiner ul li:hover section .content span {
        display: block;
        position: absolute;
        left: 80%;
    }

    .main-container .mails-conatiner ul li section .content span i {
        margin-inline-start: 5px;
    }

    .main-container .mails-conatiner ul li section .sender h4{
        /* width: 100%; */
        /* justify-self: left;
        align-self: center; */
        margin-inline-start: 5%;
        font-size: .85rem;
    }

    .main-container .mails-conatiner ul li section .checkboxes {
        grid-area: 1/1/-1/1;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-container .mails-conatiner ul li section .checkboxes input:hover {
        /* background-color: #F2F2F2; */
        transform: scale(1.3);
    }
    .selected{
        width: 9px;
        height: 14px;
    }
    .star {
        visibility: hidden;
        font-size: 1rem;
        line-height: 12px;
        cursor: pointer;
    }

    .star:before {
        content: "\2606";
        visibility: visible;
        color: black;
    }

    .star:checked:before {
        content: "\2605";
        color: gold;
    }

    .cloud {
        visibility: hidden;
        font-size: 1rem;
        line-height: 16px;
        cursor: pointer;
    }

    .cloud:before {
        content: "\2601";
        visibility: visible;
        color: rgb(226, 226, 226);
    }

    .cloud:checked:before {
        content: "\2601";
        color: gold;
    }
    /* Details Nav */
    .details-nav{
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        margin-inline-start: 2%;
        cursor: pointer;
        font-size: .8rem;
    }
    .main-details-content{
        margin-block-start: 5%;
        margin-inline-start: 2%;
    }

    /* .app-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F6F8FC;
        padding: 5px;
    } */
}

@media(min-width: 720px) {

    /* App Header */
    .app-header {
        background-color: rgb(246, 248, 252);
        padding: .7em;
    }

    .app-header .main-header-nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        margin-inline-start: 40%;
        padding: 10px;
    }

    /* Side bar */
    .main-container .side-bar-conatiner {
        border: none;
        background-color: #F6F8FC;
        width: 18.5%;
        border-radius: 1px;
        /* margin-block-start: 3.9rem; */
    }

    .main-container .side-bar-conatiner h1 {
        margin-inline-start: 14%;
        font-size: 20px;
    }
    

    .main-container .side-bar-conatiner button {
        position: relative;
        background-color: #C2E7FF;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        height: 45px;
        width: 105px;
        font-size: .7rem;
        padding-left: 5px;
    }

    .main-container .side-bar-conatiner ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 5px;
    }

    .main-container .side-bar-conatiner ul li {
        /* background-color: rgb(219, 229, 201); */
        border: none;
        text-align: left;
        width: 95%;
        border-radius: 15px;
        padding: 8px;
        padding-left: 12%;
        margin-block-start: 1.5vh;
        /* margin-inline-start: 17%; */
        margin-inline-end: 5%;
        transition: 0.3s;
        font-size: .7rem;
    }

    .main-container .side-bar-conatiner ul li i {
        text-align: center;
        padding-right: 5px;
        /* margin-inline-end: 5px; */
    }

    .main-container .side-bar-conatiner ul li:hover {
        background-color: #D3E3FD;
        cursor: pointer;
    }

    /* email creation */
    .createEmail-Container {
        position: absolute;
        left: 58%;
        top: 28%;
        background-color: #ffffff;
        width: 40%;
        height: 72%;
        border-radius: 15px;
        /* padding: 10px; */
        box-shadow: 2px 2px rgb(165, 165, 165), -.3em 0 0.4em rgb(165, 165, 165);
    }

    .createEmail-Container .header {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        height: 45px;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F6FC;
        border-radius: 10px;
        padding: 10px;
        color: #000000;
        font-weight: bold;
    }

    .createEmail-Container .header h3 {
        margin: 0px;
    }

    .createEmail-Container .header button {
        background-color: #F2F6FC;
    }

    .createEmail-Container .inputs input {
        width: 100%;
        height: 10%;
        padding: 10px;
        border: none;
    }


    .createEmail-Container .mainMail textarea {
        width: 100%;
        height: 48vh;
        border: none;
    }

    .createEmail-Container .send-btns{
        display: flex;
    }

    /* .createEmail-Container .send-button2 {
        position: fixed;
        left: 83%;
        bottom: 1.1%;
        width: 14%;
        height: 40px;
        color: white;
        margin-block-start: 3%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 18px;
        border-top-right-radius: 0;
        background-color: #ce7235;
    } */
    /* Search Bar */
    .search-container {
        background-color: #F6F8FC;
    }

    .search-container form {
        background-color: #EAF1FB;
        width: 67%;
        border-radius: 15px;
        padding: 3px;
    }

    .search-container form input {
        text-align: left;
        background-color: #EAF1FB;
        border: none;
        font-size: .85rem;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        width: 90%;
    }

    .search-container form button {
        /* width: 3.2rem; */
        height: 2.7rem;
        background-color: #EAF1FB;
    }

    .search-container form button:hover {
        background-color: #e1e7f0;
    }

    /**MAILS */
    .main-container .mails-conatiner {
        background-color: #FFFFFF;
        width: 78.5%;
        border-radius: 15px;
        display: grid;
        grid-template-rows: 10% 5% 85%;
        /* padding: 5px; */
    }

    .main-container .mails-conatiner .nav-bar {
        display: flex;
        border-radius: 15px;
    }

    .main-container .mails-conatiner ul {
        list-style: none;
        font-size: 1rem;
        padding: 0;
    }

    .main-container .mails-conatiner ul li section {
        padding: 10px;
        display: grid;
        justify-items: center;
        align-content: center;
        /* align-content: center; */
        box-shadow: 0px .5px rgb(165, 165, 165), 0em 0 0.1em rgb(165, 165, 165);
        grid-template-columns: 10% 20% 60% 10%;
        grid-template-rows: none;
        cursor: pointer;
        font-size: .8rem;
    }
    .main-container .mails-conatiner ul li section :last-child {
        grid-area: 1/4/1/4;
        justify-self: right;
    }
    .main-container .mails-conatiner ul li {
        height: max-content;
        background-color: #fff;

    }

    .main-container .mails-conatiner .unread {
        font-weight: bold;
    }

    .main-container .mails-conatiner .read {
        background-color: #F2F6FC;
    }

    .main-container .mails-conatiner ul li:hover {
        box-shadow: 1px 1px rgb(165, 165, 165), 0em 0 0.2em rgb(165, 165, 165);
    }

    /* .main-container .mails-conatiner ul div button{
    cursor: pointer;
  } */

    /* } */
    .main-container .mails-conatiner ul span {
        /* position: absolute; */
        font-size: .85rem;
        /* left: 80%; */
        align-self: center;
        cursor: pointer;
        justify-self: right;
    }


    .main-container .mails-conatiner ul li section div {
        /* border: 1px solid rgb(85, 176, 159); */
        display: flex;
        align-items: center;
    }

    .main-container .mails-conatiner ul li section div input {
        /* border: 1px solid rgb(85, 176, 159); */
        /* display: flex; */
        /* align-items: center; */
        cursor: pointer;
    }

    .main-container .mails-conatiner ul li section div>* {
        margin: 0;
    }

    .main-container .mails-conatiner ul li section .content {
        /* width: 100%; */
        display: flex;
        justify-self: left;
        margin-inline-start: 10%;
        /* justify-content: space-between; */
    }

    .main-container .mails-conatiner ul li section .content p {
        font-size: .7rem;
        margin-inline-start: 10px;
    }

    .main-container .mails-conatiner ul li section .content h4 {
        font-size: .6rem;
        margin-inline-start: 35px;
    }

    .main-container .mails-conatiner ul li section .content span {
        display: none;
        position: absolute;
        left: 80%;
    }

    .main-container .mails-conatiner ul li:hover section .content span {
        display: block;
        position: absolute;
        left: 80%;
    }

    .main-container .mails-conatiner ul li section .content span i {
        margin-inline-start: 10px;
    }

    .main-container .mails-conatiner ul li section .sender h4{
        /* width: 100%; */
        justify-self: left;
        align-self: center;
        margin-inline-start: 10%;
        font-size: .8rem;
    }


    .main-container .mails-conatiner ul li section .checkboxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-container .mails-conatiner ul li section .checkboxes input:hover {
        /* background-color: #F2F2F2; */
        transform: scale(1.3);
    }

    .selected{
        width: 10px;
        height: 14px;
    }

    .star {
        visibility: hidden;
        font-size: 1rem;
        line-height: 13px;
        cursor: pointer;
    }

    .star:before {
        content: "\2606";
        visibility: visible;
        color: black;
    }

    .star:checked:before {
        content: "\2605";
        color: gold;
    }

    .cloud {
        visibility: hidden;
        font-size: 1rem;
        line-height: 16px;
        cursor: pointer;
    }

    .cloud:before {
        content: "\2601";
        visibility: visible;
        color: rgb(226, 226, 226);
    }

    .cloud:checked:before {
        content: "\2601";
        color: gold;
    }
     /* Details Nav */
     .details-nav{
        display: flex;
        width: 20%;
        justify-content: space-between;
        margin-inline-start: 2%;
        cursor: pointer;
    }
    .main-details-content{
        margin-block-start: 5%;
        margin-inline-start: 2%;
    }
}




@media(min-width: 1000px) {
/* App Header */
.app-header {
    background-color: rgb(246, 248, 252);
    padding: .7em;
}

.app-header .main-header-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-inline-start: 40%;
    padding: 10px;
}
    /* Side Bar */
    .main-container .side-bar-conatiner {
        border: none;
        background-color: #F6F8FC;
        width: 18.5%;
        border-radius: 1px;
        /* margin-block-start: 3.9rem; */
    }

    .main-container .side-bar-conatiner h1 {
        margin-inline-start: 24%;
        font-size: 20px;
    }

    .main-container .side-bar-conatiner button {
        background-color: #C2E7FF;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        height: 55px;
        width: 125px;
        font-size: .9rem;
        padding-left: 5px;
    }

    .main-container .side-bar-conatiner ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 5px;
    }

    .main-container .side-bar-conatiner ul li {
        /* padding: 5px; */
        /* background-color: rgb(219, 229, 201); */
        border: none;
        text-align: left;
        width: 95%;
        border-radius: 15px;
        padding: 8px;
        padding-left: 12%;
        margin-block-start: 1.5vh;
        /* margin-inline-start: 17%; */
        margin-inline-end: 5%;
        transition: 0.3s;
        font-size: .9rem;
    }

    .main-container .side-bar-conatiner ul li i {
        text-align: center;
        padding-right: 5px;
        /* margin-inline-end: 5px; */
    }

    .main-container .side-bar-conatiner ul li:hover {
        background-color: #D3E3FD;
        cursor: pointer;
    }

    /* Email Creation */
    .createEmail-Container{
        position: absolute;
        left: 58%;
        top:28%;
        background-color: #ffffff;
        width: 40%;
        height: 72%;
        border-radius: 15px;
        /* padding: 10px; */
        box-shadow: 2px 2px rgb(165, 165, 165), -.3em 0 0.4em rgb(165, 165, 165);
    }
    
    .createEmail-Container .header{
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        height: 45px;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F6FC;
        border-radius: 10px;
        padding: 10px;
        color: #000000;
        font-weight: bold;
    }
    
    .createEmail-Container .header h3{
        margin: 0px;
    }
    .createEmail-Container .header button{
        background-color: #F2F6FC;
    }
    
    .createEmail-Container .inputs input{
        width: 100%;
        height: 10%;
        padding: 10px;
        border: none;
    }
    
    
    .createEmail-Container .mainMail textarea{
        width: 100%;
        height: 45vh;
        border: none;
    }
    .createEmail-Container .send-btns{
        display: flex;

        /* margin-inline-start: 2%;
        width: 18%;
        height: 38px;
        color: white; */
        /* border-bottom-right-radius: 0; */
        /* border-top-left-radius: 18px; */
        /* border-top-right-radius: 0; */
        /* background-color: #0b57d0; */
    }
    /* .createEmail-Container .send-button2 {
        margin-inline-start: 2%;
        width: 12%;
        height: 40px;
        color: white;
        margin-block-start: 3%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 18px;
        border-top-right-radius: 0;
        background-color: #ce7235;
    } */
    /* Search Bar */
    .search-container {
        background-color: #F6F8FC;

    }

    .search-container form {
        background-color: #EAF1FB;
        width: 67%;
        border-radius: 15px;
        padding: 3px;
    }

    .search-container form input {
        background-color: #EAF1FB;
        border: none;
        font-size: .85rem;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        width: 90%;
        padding: 10px;
    }

    .search-container form button {
        width: 3.2rem;
        /* height: 3.9rem; */
        background-color: #EAF1FB;
    }
   

    .search-container form button:hover {
        background-color: #e1e7f0;
    }

    /**MAILS */
    .main-container .mails-conatiner {
        background-color: #FFFFFF;
        width: 78.5%;
        border-radius: 15px;
        display: grid;
        grid-template-rows: 10% 5% 85%;
        /* padding: 5px; */
    }

    .main-container .mails-conatiner .nav-bar {
        display: flex;
        border-radius: 15px;
    }

    .main-container .mails-conatiner ul {
        list-style: none;
        font-size: 1rem;
        padding: 0;
    }

    .main-container .mails-conatiner ul li section {
        padding: 10px;
        display: grid;
        justify-items: center;
        /* align-content: center; */
        box-shadow: 0px .5px rgb(165, 165, 165), 0em 0 0.1em rgb(165, 165, 165);
        grid-template-columns: 10% 20% 60% 10%;
        cursor: pointer;
        font-size: 1rem;
    }

    .main-container .mails-conatiner ul li {
        height: max-content;
        background-color: #fff;
    }

    .main-container .mails-conatiner .unread {
        font-weight: bold;
    }

    .main-container .mails-conatiner .read {
        background-color: #F2F6FC;
    }

    .main-container .mails-conatiner ul li:hover {
        box-shadow: 1px 1px rgb(165, 165, 165), 0em 0 0.2em rgb(165, 165, 165);
    }

    /* .main-container .mails-conatiner ul div button{
    cursor: pointer;
  } */

    /* } */
    .main-container .mails-conatiner ul span {
        /* position: absolute; */
        font-size: .85rem;
        /* left: 80%; */
        align-self: center;
        cursor: pointer;
        justify-self: right;
    }


    .main-container .mails-conatiner ul li section div {
        /* border: 1px solid rgb(85, 176, 159); */
        display: flex;
        align-items: center;
    }

    .main-container .mails-conatiner ul li section div input {
        /* border: 1px solid rgb(85, 176, 159); */
        /* display: flex; */
        /* align-items: center; */
        cursor: pointer;
    }

    .main-container .mails-conatiner ul li section div>* {
        margin: 0;
    }

    .main-container .mails-conatiner ul li section .content {
        /* width: 100%; */
        justify-self: left;
        margin-inline-start: 10%;
        /* justify-content: space-between; */
    }
    .main-container .mails-conatiner ul li section .content p {
        font-size: .85rem;
        margin-inline-start: 10px;
    }

    .main-container .mails-conatiner ul li section .content h4 {
        font-size: .8rem;
        margin-inline-start: 35px;
    }
    .main-container .mails-conatiner ul li section .content span {
        display: none;
        position: absolute;
        left: 80%;
    }

    .main-container .mails-conatiner ul li:hover section .content span {
        display: block;
        position: absolute;
        left: 80%;
    }

    .main-container .mails-conatiner ul li section .content span i {
        margin-inline-start: 10px;
    }

    .main-container .mails-conatiner ul li section .sender h4{
        /* width: 100%; */
        justify-self: left;
        align-self: center;
        margin-inline-start: 10%;
        font-size: 1rem;
    }

    .main-container .mails-conatiner ul li section .checkboxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-container .mails-conatiner ul li section .checkboxes input:hover {
        /* background-color: #F2F2F2; */
        transform: scale(1.3);
    }
    .selected{
        width: 10px;
        height: 14px;
    }
    .star {
        visibility: hidden;
        font-size: 1rem;
        line-height: 12px;
        cursor: pointer;
    }

    .star:before {
        content: "\2606";
        visibility: visible;
        color: black;
    }

    .star:checked:before {
        content: "\2605";
        color: gold;
    }

    .cloud {
        visibility: hidden;
        font-size: 1rem;
        line-height: 12px;
        cursor: pointer;
    }

    .cloud:before {
        content: "\2601";
        visibility: visible;
        color: rgb(226, 226, 226);
    }

    .cloud:checked:before {
        content: "\2601";
        color: gold;
    }
     /* Details Nav */
     .details-nav{
        display: flex;
        width: 20%;
        justify-content: space-between;
        margin-inline-start: 2%;
        cursor: pointer;
    }
    .main-details-content{
        margin-block-start: 5%;
        margin-inline-start: 2%;
    }
}