.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}


.main-container {
  display: flex;
  /* border: 1px solid black; */
  height: 92vh;
  /** just for us */
  /* margin-block-start: 5px; */
  /* padding: 10px; */
  background-color: #F6F8FC;
}

button {
  border-radius: 15px;
  border: none;
}